<div id="nav_bar_vertical" class="nav_bar_vertical">
    <a class="logo" rel="index" href="#">
        <img src="./images/M-logo.png" width="60px" height="90px"
             alt="Wordpress Developer Logo, Web Developer Logo , Front End Developer Logo"/>
    </a>
    <nav id="main_nav" class="main_nav">

        <a rel="home" href="#/home"><i class="fa fa-home" style="font-size:24px"></i></a>
        <a rel="about" href="#/search"><i class="fa fa-film" style="font-size:24px"></i></a>
        <a rel="skills" href=""><i class="fa fa-user-secret" style="font-size:24px"></i></a>
        <a rel="gallery" href=""><i class="fa fa-picture-o" style="font-size:24px"></i></a>
        <a rel="contact" href=""><i class="fa fa-envelope-o" style="font-size:24px"></i></a>

    </nav>
    <nav id="sub_nav" class="sub_nav">
        <a href="https://twitter.com/Makubex47" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/bragdish-ramachandran-52895640/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/bragdish.ramachandran" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://www.facebook.com/bragdish.ramachandran" target="_blank"><i class="fa fa-rss"></i></a>
    </nav>
</div>